h1 {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #f8f8ff;
}

#weatherContent {
    display: none;
}

.navbar {
    height: 150px!important;
    background-color: rgb(133, 170, 95) !important;
    border: 1px solid green!important;

}

#searchResults,
#cityDetail,
.card {
    background-color: transparent!important;
}

#searchResults {
    height: 100vh;
}

#clear-history{
    display: flex;
    justify-content: space-between;
}
button {
background-color: rgb(133, 170, 95) !important;
border-color: green;

}

#fiveDay .card {
    border: 1px solid white!important;
}

#searchHistory li {
    background-color: #97A6A4;
    color: #f8f8ff!important;
}

p {
    color: white;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
}

h2, h3, h4, h5 {
    color: #f8f8ff;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #97A6A4;
    background-image: url('./img/weather_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#cityDetail, .card {
    background-color: rgb(133, 170, 95) !important;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 40px;    }
  }
  